* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.hamburger {
    background-color: transparent;
    color: #fff;
    font-size: 3.2rem;
    border: 0;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

@media screen and (max-width: 800px) {
    header {
        height: 8rem;
    }
    .main-nav-list {
        display: none;
    }
    .hamburger {
        display: block;
    }
    nav {
        padding: 1.6rem;
    }
    .logo img {
        height: 4.8rem;
    }
    .main-sponsor h2 {
        font-size: 2.4rem;
    }
    .main-sponsor h3 {
        font-size: 1rem;
    }
    .hero-img img {
        width: 12rem;
    }
    .event-title h1 {
        font-size: 3.6rem;
        line-height: 1.2;
        letter-spacing: 1.2px;
    }
    .container p {
        font-size: 1.6rem;
    }
    .btn {
        font-size: 1.8rem;
        font-weight: 500;
        color: #fff;
        background-color: transparent;
        border: 2px solid #0088f7;
        border-radius: 4rem;
        padding: 1rem 3.2rem;
        margin-bottom: 6.4rem;
        cursor: pointer;
    }
    .event-details {
        grid-template-columns: 1fr;
    }
    .speaker-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4.8rem;
    }
    .enroll-cards {
        grid-template-columns: 1fr;
    }
    .sponsor-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .top {
        flex-direction: column;
    }
}

@media screen and (max-width: 544px) {
    header {
        height: 6.2rem;
    }
    nav {
        padding: 1rem;
    }
    .main-nav-list {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .logo img {
        height: 2.4rem;
    }
    .btn {
        background-color: #0088f7;
    }
    .event-details {
        grid-template-columns: 1fr;
    }
    .speaker-gallery {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
    .speaker-card img {
        width: 30%;
        /* height: 100%; */
    }
    .speaker-card {
        padding: 0.8rem;
    }
    .enroll-cards {
        grid-template-columns: 1fr;
    }
    .sponsor-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .top {
        flex-direction: column;
        justify-content: space-between;
        gap: 3.2rem;
        align-items: flex-start;
    }
    .left {
        width: 100%;
    }
    .left img {
        height: 3.2rem;
        margin-bottom: 2.1rem;
    }
    .left p {
        font-size: 1.2rem;
    }
    .right {
        width: 100%;
    }
    .right h3 {
        color: white;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    .right p {
        color: #c4c3c3;
        font-size: 1.2rem;
    }
    .social {
        width: 12rem;
    }
    .bottom {
        padding: 2rem;
    }
    .bottom p {
        font-size: 0.8rem;
        text-align: center;
    }
}