    /*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #0088f7
- Tints:
#b7dfff
#80c4fb
#4dacf9
- Shades: 
#006dc6
#003663

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Rubik', sans-serif;
        line-height: 1;
        font-weight: 400;
        color: #555;
        overflow-x: hidden;
        /* background-color: rgb(18, 27, 61); */
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .section-hero {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(0deg, rgba(26, 31, 46, 0.5), rgba(26, 31, 46, 0.5)), url(hero.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16rem;
    }
    
    header {
        width: 100vw;
        height: 9.6rem;
        top: 0;
        background-color: transparent;
        position: fixed;
        background-color: rgba(76, 86, 138, 0.521);
    }
    
    nav {
        max-width: 120rem;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    /* .logo {
        border: solid 1px white;
    } */
    
    .logo img {
        height: 4.8rem;
    }
    /* NAV LIST */
    
    .main-nav-list {
        display: flex;
        gap: 1rem;
    }
    
    .main-nav-link:visited,
    .main-nav-link:link {
        display: inline-block;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 1.1;
        padding: 0.8rem 1.6rem;
        border: solid 2px transparent;
        transition: all 0.3s;
    }
    
    .main-nav-link:hover,
    .main-nav-link:active {
        border: solid 2px #0088f7;
        color: #fff;
    }
    
    .main-nav-link.btn-cta:visited,
    .main-nav-link.btn-cta:link {
        background-color: #0088f7;
        color: #fff;
    }
    
    .main-nav-link.btn-cta:hover,
    .main-nav-link.btn-cta:active {
        background-color: #1b3bc7;
        border: solid 2px #1b3bc7;
    }
    
    .container {
        max-width: 120rem;
        margin: 0 auto;
        height: calc(100vh - 96px);
        /* border: solid 1px white; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-sponsor {
        margin-bottom: 2rem;
        width: 100%;
        /* border: solid 1px white; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-sponsor h2 {
        color: #fff;
        font-size: 3.2rem;
    }
    
    .main-sponsor h3 {
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 400;
    }
    
    .event-title {
        width: fit-content;
        margin-top: 1rem;
        /* border: solid 1px white; */
        padding: 1.6rem 3.2rem;
        margin-bottom: 2rem;
        background: linear-gradient( rgba(19, 50, 92, 0.356), rgba(19, 50, 92, 0.356));
    }
    
    .hero-img img {
        width: 16rem;
    }
    
    .event-title h1 {
        font-size: 5.2rem;
        color: #fff;
        line-height: 1.3;
        letter-spacing: 1.5px;
        text-align: center;
        font-weight: 600;
        /* border: solid 1px white; */
    }
    
    .event-title {
        animation: flicker 1.5s infinite alternate;
        color: #fff;
    }
    
    @keyframes flicker {
        0%,
        18%,
        22%,
        25%,
        53%,
        57%,
        100% {
            text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0088f7, 0 0 80px #0088f7, 0 0 90px #0088f7, 0 0 100px #0088f7, 0 0 150px #0088f7;
        }
        20%,
        24%,
        55% {
            text-shadow: none;
            transition: all 0.5s;
        }
    }
    
    .container p {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 3.6rem;
    }
    
    .btn {
        font-size: 1.8rem;
        font-weight: 500;
        color: #fff;
        background-color: transparent;
        border: 2px solid #0088f7;
        background-color: #0088f7;
        border-radius: 4rem;
        padding: 1rem 3.2rem;
        margin-bottom: 6.4rem;
        cursor: pointer;
    }
    
    .btn:hover,
    .btn:active {
        background-color: #046dc2;
        box-shadow: 0 0 8px 8px #80c4fb;
        transition: all 0.3s;
    }
    
    .middle {
        width: 100vw;
    }
    
    .event-details {
        padding: 4.8rem 2.4rem;
        max-width: 120rem;
        margin: 0 auto;
        display: grid;
        gap: 4.8rem;
        grid-template-columns: 2fr 1fr 1fr;
        border: solid 1px white;
    }
    
    .icon {
        font-size: 4.8rem;
        color: #0088f7;
        margin-right: 2rem;
    }
    
    .event-card {
        display: flex;
        flex-direction: column;
        /* height: 30rem; */
        justify-content: flex-start;
        padding: 2.4rem;
        color: #333;
        /* border: solid 1px red; */
    }
    
    .event-card h1 {
        font-size: 4rem;
        letter-spacing: 1px;
    }
    
    .event-card p {
        font-size: 1.6rem;
        line-height: 1.3;
        letter-spacing: 0.5px;
    }
    
    .event-heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .speakers {
        max-width: 120rem;
        margin: 0 auto;
        padding: 4.8rem 2.4rem;
        /* border: solid 1px red; */
    }
    
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: solid 1px red; */
    }
    
    .heading h1 {
        font-size: 4.8rem;
        color: #0088f7;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    
    hr {
        width: 5vw;
        font-size: 4rem;
        background-color: #0088f7;
        border: 1px solid #0088f7;
    }
    
    .speakers {
        margin-bottom: 4.8rem;
    }
    
    .speaker-gallery {
        margin-top: 3.2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4.8rem;
    }
    
    .speaker-card {
        border: 1px solid #0088f7;
        display: flex;
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .speaker-card img {
        width: 80%;
        /* height: 100%; */
        cursor: pointer;
        overflow: hidden;
        transition: all 0.4s;
    }
    
    .speaker-card img:hover {
        /* height: 100%; */
        cursor: pointer;
        transform: scale(1.05);
    }
    
    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    
    .details h3 {
        margin-bottom: 1rem;
    }
    
    .details h3 a {
        font-size: 3.2rem;
        font-weight: 400;
        color: #333;
        transition: all 0.3s;
    }
    
    .details h3 a:hover {
        color: #0088f7;
    }
    
    .details p {
        font-size: 1.8rem;
        color: #333;
    }
    
    .enroll-cards {
        max-width: 120rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4.8rem;
        padding: 3.2rem 2rem;
        margin-bottom: 4.8rem;
    }
    
    .enroll-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ebebeb;
        border: 1px solid transparent;
        border-radius: 7px;
        padding: 6.4rem 3.2rem;
        box-shadow: 7px 9px 2px 0 rgb(219, 219, 219);
        transition: all 0.5s;
        color: #333;
    }
    
    .enroll-card:hover {
        transform: translateY(-8px);
        background-color: rgb(248, 248, 248);
    }
    
    .enroll-card h2 {
        font-size: 3.6rem;
        margin-bottom: 1rem;
    }
    
    .enroll-card p {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .btn-enroll {
        padding: 1rem 3.6rem;
        background-color: #0088f7;
        color: #fff;
        border: transparent;
        font-size: 2rem;
        cursor: pointer;
        letter-spacing: 1px;
        border-radius: 3rem;
        transition: all 0.3s;
        margin-top: 3.2rem;
    }
    
    .btn-enroll:hover,
    .btn-enroll:active {
        background-color: #1b3bc7;
    }
    
    .recommended h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 4px;
        color: #000;
        border-bottom: solid 2px #1b3bc7;
        padding: 1rem 0;
    }
    
    .recommended {
        background-color: #b7dfff;
    }
    
    .recommended:hover {
        background-color: #b7dfff;
    }
    
    .sponsor-gallery {
        max-width: 120rem;
        margin: 0 auto;
        padding: 3.2rem;
        display: grid;
        gap: 3.2rem;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .sponsor-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 240, 240);
        padding: 3.2rem;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.4s;
    }
    
    .sponsor-card:hover {
        background-color: rgb(221, 232, 248);
    }
    
    .sponsor-card a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sponsor-card img {
        width: 80%;
        transition: all 0.4s;
    }
    
    .sponsor-card img:hover {
        transform: scale(1.05);
    }
    
    footer {
        display: flex;
        flex-direction: column;
    }
    
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4.8rem 9.6rem;
        background-color: #0d0e20;
    }
    
    .left {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .left img {
        height: 4rem;
        margin-bottom: 3.2rem;
    }
    
    .left p {
        font-size: 1.4rem;
        line-height: 1.6;
        letter-spacing: 0.5px;
        color: #c4c3c3;
    }
    
    .right {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .right h3 {
        color: white;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 2.4rem;
        border-bottom: solid 2px #0088f7;
    }
    
    .right p {
        color: #c4c3c3;
        font-size: 1.2rem;
        line-height: 1.6;
        letter-spacing: 2px;
        font-weight: 400;
    }
    
    .social {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 16rem;
    }
    
    .social a i {
        font-size: 3.2rem;
        color: white;
    }
    
    .fa-twitter-square:hover {
        color: rgb(30, 191, 255);
    }
    
    .fa-facebook-square:hover {
        color: rgb(55, 105, 243);
    }
    
    .fa-instagram-square:hover {
        color: rgb(212, 30, 212);
    }
    
    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #121546;
        padding: 3.2rem;
    }
    
    .bottom p {
        font-size: 1.3rem;
        color: #c4c3c3;
        letter-spacing: 1px;
        text-align: center;
    }